*{
    margin: 0px;
    box-sizing: border-box;

}
.container{
    width: 950px;
    background-color: silver;
    margin: 0px auto;
    padding: 20px;
    display:flex;
    flex-wrap: wrap;
}
.top-nav {
    display:inline-block;
    margin: 5px;
    height: 150px;
    width: 900px;
    background-color: green;
}
.side-nav {
    margin: 5px;
    height: 300px;
    width: 200px;
    background-color: blue;
}
.main {
    box-sizing: border-box;
    margin: 5px;
    padding: 10px;
    height: 400px;
    width: 690px;
    display:flex;
    flex-wrap: wrap;
    background-color: red;
}
.sub-content {
    margin: 5px;
    height: 200px;
    width: 200px;
    background-color: yellow;
}
#advertisement {
    margin: 5px;
    height: 120px;
    width: 630px;
    background-color: purple;
}
