*{
    margin: 0px;
    box-sizing: border-box;
}
.container{
    width: 950px;
    height: 590px;
    padding: 10px;
    background-color: silver;
    margin: 20px auto;
}
.top-nav {
    height: 150px;
    width: 915px;
    margin: 5px;
    background-color: green;
}
.side-nav {
    height: 300px;
    width: 200px;
    margin: 5px;
    background-color: blue;
}
.main {
    height: 400px;
    width: 705px;
    margin: 5px;
    padding: 5px;
    background-color: red;
}
.sub-content {
    height: 200px;
    width: 210px;
    margin:10px;
    background-color: yellow;
}
#advertisement {
    height: 120px;
    width: 660px;
    margin: 10px;
    background-color: purple;
}
.row {
    display: flex;
    flex-wrap: wrap;
}


